body {
  background-color: #000;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-align: center;
}
h1 {
  color: #c4b467;
  font-size: 3rem;
  font-weight: bold;
  margin: 2.5rem 0;
  padding: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
button {
  background-color: #c4b467;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4), 0 0 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin: 0.5rem 0.25rem 2rem;
  transition: all 0.1s ease-in;
}
button:hover {
  transition: all 0.2s ease-in;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.25), 0 0 4px 2px rgba(0, 0, 0, 0.05);
  transform: translateY(-3px);
  background-color: green;
  color: white;
}
button:focus {
  outline: 0;
}
footer {
  border-top: 3px solid #fff;
  font-size: 1rem;
  margin: 1.5rem 0 2rem;
}
#quiz {
  box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2), 0 0 6px 3px rgba(0, 0, 0, 0.05);
  margin: 0 auto 2rem;
  padding: 1.5rem;
  width: 65%;
}
#progress {
  float: left;
  font-weight: bold;
}
#score {
  float: right;
  font-weight: bold;
}
