body {
    display:flex;
   font-family:'Fira Sans Extra Condensed', sans-serif;
    text-align:center;
  }
  
  .quiz {
    font-size:24px;
    border-style:solid;
    border-width:2px;
    margin-top:25px;
    box-shadow: 10px 5px 10px black;
  }
  
  .questions {
    text-align:left;
    margin-bottom:25px;
    margin-left:50px;
    margin-right:50px;
    margin-top:25px;
  }
  
  .row-centered {
      text-align:center;
  }
  
  .col-centered {
      display:inline-block;
      float:none;
  }
  
  .choices {
    text-align:left;
  }
  
  .question {
    font-size:24px;
    margin-bottom:10px;
    margin-top:10px;
  
  }
  
  .answers {
    font-size:24px;
    margin-bottom:25px;
    margin-top:25px;
  }
  
  .hidden {
    display:none;
  }
  
  .buttons {
    text-align:center;
    margin-bottom:20px;
  }
  
  #radio label {
    color: #333;
  }
  
  #radio label:hover {
    color: #F76F1E;
  }
  
  #radio input:checked {
    color: #F76F1E;
  }
  
  .alert-warning {
     text-align:center;
  }